@import "globals";

.faqs {
    display: grid;
    width: 40%;
    margin: 220px auto 100px;

    @media screen and (min-width:375px) and (max-width: 768px) {
        width: 80%;
    }   

    button {
        width: auto;
        margin: 50px auto;
        @include button($primary-blue, #fdfdfd, 10px, 25px);

        &:hover {
            background-color: #ffffff;
            color: $primary-blue;
        }

    }

    &-info {
        text-align: center;

        p {
            font-size: 0.9em;
            padding: 0 30px;
        }
    }

    &-lists {
        .question {
            border-top: 1px solid rgba($neutral-grayish-blue, 0.5);
            padding: 16px 16px 16px 0;

            &:nth-last-child(2) {
                border-bottom: 1px solid rgba($neutral-grayish-blue, 0.5);
            }

            &:hover {
                color: $primary-red;
            }

        }

        svg {
            float: right;
        }

        .active {
            color: inherit;
            // transition: all 0.4s ease;
            .icon-arrow {
                stroke: $primary-red;
                transform-box: fill-box;
                transform-origin: 50% 50%;
                transform: rotate(180deg);
            }  
        }
    }
}