@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
// LAYOUT

$mobile: 375px;
$desktop: 1440px;

// COLORS

$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);

$neutral-grayish-blue: hsl(229, 8%, 60%);
$neutral-dark-blue: hsl(229, 31%, 21%);

// TYPOGRAPHY

$body-font: 18px;
$font-family: 'Rubik', sans-serif;
$body-font-weight: 400;
$heading-font-weight: 500;

// MIXINS

@mixin cta {
    font-size: 0.84rem;
    text-transform: uppercase;
    font-weight: $heading-font-weight;
    letter-spacing: 1.5px;
}

@mixin button($bg-color, $color, $tb-padding, $lf-padding) {
    background-color: $bg-color;
    border: 2px solid $bg-color;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    color: $color;
    padding: $tb-padding $lf-padding;
}